* {
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html, body, #root, .app  {
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
}

.app-slider {
  height: 100%;
  width: 800px;
}

.rslider-example {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
}

.rslider-example__title {
  padding: 24px;
}

.rslider-example__content {
  flex: 1 1 100%;
}
